
.content {
    margin: 0 25px 0 25px ;
    background-color: #455971;
}

.content-main {
    display: flex;
}

.content-main p {
    margin: 40px 80px 40px 80px;
    font-size: 30px;
    color: #ffffff;
    
}
#bal-p{
    text-align: end;
}
.content-main img {
    margin: 0;
    width: 250px;
    height: 250px;
}
#banner {
    align-self: center;
    height: 70vh;
    width: 100vw;
    object-fit: cover;
}

.gallery-container {
    margin: 0px 25px 0px 25px;
    background-color: #ccc;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 60vh;
    overflow: hidden;

}
.gallery img {
    height: 500px;
    width: 500px;
    margin: 10px;

    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: transform ease 0.5s, box-shadow ease 0.5s;
}

.gallery img:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px #455971;
}

#galleryh1 {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding-top: 20px;
    font-size: 60px;
    color: #455971;
}

#middle-image {
    margin-bottom: 50px;
}



@media (max-width: 1024px) {
    .content-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .content-main img {
        margin: 0;
        width: 200px;
        height: 200px;
    }
    #jobb-p {
        margin: 10px;
    }
    #bal-p{
        text-align: center;
        margin: 10px
    }

    .gallery {
        flex-shrink: 1;
        margin: 20px;
    }
    #middle-image {
        margin-bottom: 0;
    }
    
    .gallery-container {
        flex-grow: 1;
    }
    #galleryh1 {
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        font-size: 40px;
        color: #455971;
    }
    .gallery img {
        height: 300px;
        width: 300px;
        overflow: hidden;
        object-fit: contain;
        box-shadow: none;
    }
    .gallery img:hover {
        transform: none;
        box-shadow: none;
    }



    @media (max-width: 720px) {
        .gallery {
            flex-direction: column;
        }
        .gallery img {
            height: 200px;
            width: 200px;
        }
    }

}