*{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.nav-menu{
    display: flex;
    margin-left: 10px;
    margin-right: 15px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

#menu-h1{
    margin-right: 250px;
}
.nav-menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}   
.nav-menu li {
    display: inline;
    margin-right: 20px;
}

.content {
    height: 1440px;
    background-color: #455971;
}

.content-main {
    display: flex;
    justify-content: space-between;
}
.content-main p {
    margin: 10px;
}
.content-main img {
    width: 200px;
    height: 250px;
}
.banner {
    width: 100%;
}

.gallery {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.gallery img {
    width: 200px;
    margin: -100px 20px;
}
footer {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.separator {
    border-left: 2px solid #ccc;
    height: 100px;
    margin: 0 20px;
}
.footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer-links li {
    margin-bottom: 10px;
}