
.content {
    margin-top: 50px;
    height: 80vh;
    margin: 0 25px 0 25px;
    display: flex;
    flex-direction: column;
}
.paragraph-container {
    display: flex;
}

.content-image {
    width: 350px;
}