
.content {
    padding: 10px 25px 0 25px;
    height: 100%;
    margin: 0px 25px 0 25px;
    display: flex;
    flex-direction: column;
    
    
}
.paragraph-container {
    display: flex;
    font-size: 25px;
    align-items: center;
    background-color: #455971;
    color: #fff;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: transform ease 0.5s, box-shadow ease 0.5s;
    
}
.paragraph-container:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px #455971;
}
.paragraph-p {
    padding: 25px;

}

.content-image {
    width: 350px;
}

@media (max-width: 1024px){
    .paragraph-container{
        font-size: 18px;
    }

    .content-image {
        width:300px;
    }
}

@media (max-width: 720px){
    .paragraph-container{
        flex-direction: column;
        text-align: center;
    }
}